@import "file:///D:/Develop/Doc/CodeOfAnotherWorld/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///D:/Develop/Doc/CodeOfAnotherWorld/node_modules/@vuepress/plugin-sass-palette/styles/empty.scss";
@import "file:///D:/Develop/Doc/CodeOfAnotherWorld/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
